<h1>User info</h1>

<%= form_with model: @user,url:'/users' do |f| %>
<p>Name</p>
<%= f.text_field :name %>
<p>Image</p>
<%= f.file_field :image,accept: "image/*" %>
<p>Introduction</p>
<%= f.text_area :introduction ,maxlength: "50" %>
<%= f.submit 'Update User' %>

<% end %>
