<h1>User info</h1>

  <% if @user.image.attached? %>
    <%= image_tag @user.get.image,size:"100x100" %>
  <% else %>
    <%= image_tag'no_image',size:"100x100" %>
  <% end %>
  <p>name</p>
  <span><%= current_user.name %></span>
  <p>introduction</p>
  <span><%= current_user.introduction %></span>
  <%= link_to '編集',edit_user_path(current_user.id) %>

<h1>New Book</h1>
<%= form_with model:@book do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Opinion</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>
